services:
  - type: web
    name: bold-cencosud
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: WEBHOOK_URL
        value: https://3bab.onrender.com
